
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; padding:2px;}

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
/*ul, ol { margin-left: 2em; }*/
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong { font-weight:bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type=radio] { vertical-align: text-bottom; }
input[type=checkbox] { vertical-align: bottom; }
.ie7 input[type=checkbox] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], input[type=image], button { cursor: pointer; }
button, input, select, textarea { margin: 0; width:100%;}
textarea { border:1px solid #d3d3d3; padding:4px 3px 4px 3px; }
input[type=text], input[type=password] { border:1px solid #d3d3d3; padding:4px 0px 4px 3px}

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #7BA0AF; text-decoration:underline;}
a:hover { color: #FF0000; text-decoration:none;}


/*
    // ==================================================================================== \\
   ||                                           ==========================================   ||
   ||               Your styles !               ==========================================   ||
   ||                                           ==========================================   ||
    \\ ==================================================================================== //
*/

	



/*
    // ==================================================================================== \\
   ||                                           ==========================================   ||
   ||           END Your styles !               ==========================================   ||
   ||                                           ==========================================   ||
    \\ ==================================================================================== //
*/





.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/*.hidden { display: none; visibility: hidden; }*/
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}




/*
*
 *relative to this CSS file.
 */


/*
 * jQuery UI specific styling
 */
 .datagrid {width:100%; }

.datagrid table { border-collapse: collapse; text-align: left; width:100%;
			border: 1px solid #bcbcbc; } 

.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; }
.datagrid td a{color:#800000; text-decoration:underline;}
.datagrid a:hover{color:#ff0000; text-decoration:none;}
.datagrid table td, .datagrid table th { padding:1px 8px;}

.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DBE6F5), color-stop(1, #DBE6F5) );
background:-moz-linear-gradient( center top, #DBE6F5 5%, #DBE6F5 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBE6F5', endColorstr='#DBE6F5');
background-color:#DBE6F5; color:#000080; font-size:11px; font-weight:bold; 
border-left: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; text-align:left;}
.datagrid table thead th:first-child { border: none; }

.datagrid table tbody td { color: #4D1A75; border-left: 1px solid #bcbcbc;font-size: 12px;
font-weight: normal; }.datagrid table tbody .alt td { background: #fff; color: #4D1A75; }

.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }


